header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 23, 23);
  color: azure;
}

h1 {
  font-size: 80px;
}

h3 {
  font-size: 30px;
}

#search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-input {
  height: 30px;
  width: 300px;
}

#search-results {
  list-style-type: none;
  max-height: 200px;
  width: 300px;
  overflow-y: scroll;
  position: relative;
    right: 20px;
}

.breedName {
  margin-top: 6px;
}

.breedName:hover {
  background-color: rgb(200, 200, 201);
  cursor: pointer;
  border-radius: 2px;
}

#result {
  color: rgb(107, 27, 27);
}

#breed-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#breed-info {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#breed-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.breedImage {
  width: 600px;
  height: 600px;
  margin: 10px;
  border-radius: 10px;}

